@font-face {
    font-family: 'font1';
    src: url('../font/Sour_Gummy/SourGummy-VariableFont_wdth\,wght.ttf') format('truetype');
}


html head body {
    width: 100%;
    height: 100px;
    background-image: url(../Aset/1.png);
    background-repeat: no-repeat;
}

header {
    background-color: #eeeeef8a; 
    width: 75%; 
    padding-left: 15%; 
    padding-right: 10%; 
    background-attachment: fixed;
    
}


nav {
    display: flex; 
    list-style-type: none;
    font-size: 2vw;
  
    
    
    overflow: hidden; 
    background-color: #FFC6C6; 
}

nav ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}

nav ul li {
    position: sticky;
    float: left;
}

nav ul li a {
    position: sticky;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav ul a:hover{
    background-color: #F2BED1;

}
 

main {
    height: fit-content;
}
 

@media only screen and (max-width:800px) {
    /* For tablets: */
    body {
      width: 80%;
      padding: 0;
      background-color: lightblue;
      
      
    }
    main {
        height: fit-content;
    }
    

    header {
        font-family: "Edu AU VIC WA NT Pre", cursive;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    section {
        size-adjust: 50px;
        
      }

    section ul a {
        flex-direction: row;
        width: 300;
        float: center;
    }
    
   
   

  }
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    body {
      width: 100%;
      background-color: rgb(170, 243, 227);
      font-family: 'font1';
      
    }
   
}

footer {
  
    
    
    display: block;
    font-size: 2vw;
    background-color: #eeeeefd4;
    padding: 5%;
    text-align: center;

}